<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body>
welcome home
<img alt="" th:src="|${#httpServletRequest.getContextPath()}/resources/05.jpg|"></img>


<form name='f' action='logout' method='post'>
<input type="hidden" th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}" />
<input type="submit" value="logout"></input>
</form>
 <a href="${pageContext.request.contextPath}/j_spring_security_logout">logout</a> 
</body>
</html>